# EDA (Exploratory Data Analysis) Llamadas 123 Julio 2022

In [1]:
# Importar librerias para manipulacion de datos
import numpy as np
import pandas as pd

#Importar librerias de SO
import os 
from pathlib import Path

In [19]:
filename="llamadas123_julio_2022.csv"
data_dir="raw"
root_dir=Path(".").resolve().parent 
print("El path del proyecto es: ", root_dir)

file_path=os.path.join(root_dir,"data",data_dir,filename)

data = pd.read_csv(file_path, encoding='latin-1', sep =';')

data.head()

El path del proyecto es:  C:\Users\DiazReyes\Documents

In [29]:
data_dir = 'raw'
root_dir=Path(".").resolve().parent
file_path=os.path.join(root_dir,"data",data_dir,filename)
data = pd.read_csv(file_path, encoding='latin-1', sep =';')

In [31]:
cwd = os.getcwd() 
cwd

'c:\\Users\\DiazReyes\\Documents'

In [3]:
print('Forma Inicial', data.shape) # Retorna una tupla con las dimensiones de la tabla (n_rows, n_cols)

Forma Inicial (13055, 11)

In [63]:
data = data.drop_duplicates()
print('Forma final', data)

Forma final       NUMERO_INCIDENTE FECHA_INICIO_DESPLAZAMIENTO_MOVIL  CODIGO_LOCALIDAD  \
0      CRU-00278353-22               2022-07-01 00:08:59                11
1      CRU-00278360-22               2022-07-01 00:14:58                11
2      CRU-00278365-22               2022-07-01 00:21:59                18
3      CRU-00278370-22               2022-07-01 00:38:38                19
4      CRU-00278372-22               2022-07-01 00:53:32                 1
...                ...                               ...               ...
13050  CRU-00314021-22               2022-08-08 05:31:48                14
13051  CRU-00314021-22               2022-08-08 10:38:32                14
13052  CRU-00314021-22               2022-08-08 11:23:01                10
13053  CRU-00314021-22               2022-08-08 11:23:01                10
13054  CRU-00312775-22               0000-00-00 00:00:00                 9

                LOCALIDAD      EDAD    UNIDAD     GENERO             RED  \
0                    Suba        88      A¤os   FEMENINO           Norte
1                    Suba        16      A¤os  MASCULINO           Norte
2      Rafael Uribe Uribe        52      A¤os   FEMENINO  Centro Oriente
3          Ciudad Bol¡var  SIN_DATO  SIN_DATO   SIN_DATO         Privada
4                 Usaqun        33      A¤os  MASCULINO           Norte
...                   ...       ...       ...        ...             ...
13050        Los M rtires        18      A¤os   FEMENINO  Centro Oriente
13051        Los M rtires  SIN_DATO  SIN_DATO   SIN_DATO   Sur Occidente
13052            Engativ         11      A¤os  MASCULINO  Centro Oriente
13053            Engativ         19      A¤os   FEMENINO  Centro Oriente
13054            Fontib¢n  SIN_DATO  SIN_DATO   SIN_DATO   Sur Occidente

                   TIPO_INCIDENTE PRIORIDAD            RECEPCION  \
0      Accidente Cerebro Vascular      ALTA  2022-07-01 03:40:13
1                          Herido      ALTA  2022-07-01 03:38:13
2             Evento Respiratorio   CRITICA  2022-07-01 04:08:24
3                          Herido      ALTA  0000-00-00 00:00:00
4             Intento de Suicidio      ALTA  2022-07-01 03:25:29
...                           ...       ...                  ...
13050       Acompa¤amiento Evento      BAJA       8/08/2022 6:48
13051       Acompa¤amiento Evento      BAJA  0000-00-00 00:00:00
13052       Acompa¤amiento Evento      BAJA      9/08/2022 13:13
13053       Acompa¤amiento Evento      BAJA  0000-00-00 00:00:00
13054  Accidente Cerebro Vascular      ALTA  0000-00-00 00:00:00

      RECEPCION_CORREGIDA
0     2022-07-01 03:40:13
1     2022-07-01 03:38:13
2     2022-07-01 04:08:24
3                     NaT
4     2022-07-01 03:25:29
...                   ...
13050 2022-08-08 06:48:00
13051                 NaT
13052 2022-09-08 13:13:00
13053                 NaT
13054                 NaT

[13026 rows x 12 columns]

In [6]:
#Esquema de la Tabla
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [9]:
data['UNIDAD'].value_counts(dropna=False) #Conteo de Los valores de Unidad sin eliminar los nulos dropna=False

A¤os        6781
SIN_DATO    6187
Meses         39
NaN            8
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [13]:
#Reemplace en la columna unidad los nulos por SIN_DATO (columna NaN)
data['UNIDAD'].fillna('SIN DATO').value_counts(dropna=False)

A¤os        6781
SIN_DATO    6187
Meses         39
SIN DATO       8
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [12]:
data['UNIDAD'].fillna('SIN DATO').value_counts(dropna=False, normalize=False)

A¤os        6781
SIN_DATO    6187
Meses         39
SIN DATO       8
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [15]:
#reemplazar valores de una columna:
#Se reemplaza la columna Unidad con valores nulos por el valor SIN_DATO

data ['UNIDAD'] =data['UNIDAD'].fillna('SIN_DATO')

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [17]:
col='FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col]

0        2022-07-01 00:08:59
1        2022-07-01 00:14:58
2        2022-07-01 00:21:59
3        2022-07-01 00:38:38
4        2022-07-01 00:53:32
                ...
13050    2022-08-08 05:31:48
13051    2022-08-08 10:38:32
13052    2022-08-08 11:23:01
13053    2022-08-08 11:23:01
13054    0000-00-00 00:00:00
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 13026, dtype: object

In [18]:
col='FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col].value_counts()

2022-07-19 11:02:02    14
2022-07-16 13:31:01     8
2022-07-12 19:03:08     6
2022-07-22 12:01:36     6
2022-07-23 09:47:11     5
                       ..
2022-07-11 08:53:13     1
2022-07-11 09:01:16     1
2022-07-11 09:08:54     1
2022-07-11 09:12:48     1
0000-00-00 00:00:00     1
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 12781, dtype: int64

In [19]:
data[col].max()

'2022-08-08 11:23:01'

In [21]:
#Aplicar filtros
val_min = data[col].min()
data[data[col] == val_min] #

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
13054,CRU-00312775-22,0000-00-00 00:00:00,9,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Accidente Cerebro Vascular,ALTA,0000-00-00 00:00:00

In [22]:
data[data[col] != val_min]

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...
13049,CRU-00314021-22,2022-08-02 03:25:08,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13050,CRU-00314021-22,2022-08-08 05:31:48,14,Los M rtires,18,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,8/08/2022 6:48
13051,CRU-00314021-22,2022-08-08 10:38:32,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13052,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,11,A¤os,MASCULINO,Centro Oriente,Acompa¤amiento Evento,BAJA,9/08/2022 13:13
13053,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,19,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00

In [23]:
#Fomarto de Fechas (datetime)
pd.to_datetime(data[col], errors = 'coerce')

0       2022-07-01 00:08:59
1       2022-07-01 00:14:58
2       2022-07-01 00:21:59
3       2022-07-01 00:38:38
4       2022-07-01 00:53:32
                ...
13050   2022-08-08 05:31:48
13051   2022-08-08 10:38:32
13052   2022-08-08 11:23:01
13053   2022-08-08 11:23:01
13054                   NaT
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 13026, dtype: datetime64[ns]

In [24]:
#Asignar tipo de dato a la columna
data [col]=pd.to_datetime(data[col], errors = 'coerce')

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.2+ MB

In [26]:
data['RECEPCION']

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13050         8/08/2022 6:48
13051    0000-00-00 00:00:00
13052        9/08/2022 13:13
13053    0000-00-00 00:00:00
13054    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [35]:
col='RECEPCION'
data [col]
#data [col]=pd.to_datetime(data[col], errors = 'coerce') #los 0s o formato que no es, le pone NaT

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13050         8/08/2022 6:48
13051    0000-00-00 00:00:00
13052        9/08/2022 13:13
13053    0000-00-00 00:00:00
13054    0000-00-00 00:00:00
Name: RECEPCION, Length: 13055, dtype: object

In [ ]:
data.info()

In [32]:
#para que no todo quede como NaT, se le puede pasar formato:

pd.to_datetime(data[col], format= '%Y-%m-%d %H:%M:%S' ) 
#Sale Error, usar con otra libreria

NameError: name 'col' is not defined

In [39]:
from dateutil.parser import parse
parse ('08/02/2021 17:00:05')

datetime.datetime(2021, 8, 2, 17, 0, 5)

In [38]:
parse ('08/02/2021 5:30 pm')

datetime.datetime(2021, 8, 2, 17, 30)

In [39]:
data[col][13050] #ver un registro por el rowid

'8/08/2022 6:48'

In [41]:
parse(data[col][13050], dayfirst =True) # Para indicar que primero va el dia luego el mes

datetime.datetime(2022, 8, 8, 6, 48)

In [42]:
pd.to_datetime(parse(data[col][13050], dayfirst =True) )

Timestamp('2022-08-08 06:48:00')

In [36]:
#una funcion que reciaba un string, con fechas y regrese un valor en datetime usando parse
def devuelve_fecha(str_fecha):
    date_fecha=parse(str_fecha, dayfirst =False)  
    date_fecha=pd.to_datetime(parse(str_fecha, dayfirst =False) )
    return date_fecha

In [45]:
devuelve_fecha('08/07/2022 22:30:45')

Timestamp('2022-07-08 22:30:45')

In [47]:
#usandolo en el data
devuelve_fecha(data[col][13050])

Timestamp('2022-08-08 06:48:00')

In [ ]:
#recorriendo por rangos
for i in range (0, 5):
    val_time=devuelve_fecha(data[col][i])
    print(val_time)

In [53]:
#Con manejo de Excepciones

for i in range (0, 5):
    try:
        val_time=devuelve_fecha(data[col][i])
    except Exception as e:
        print(i,e)
        continue
    print(val_time)

2022-07-01 03:40:13
2022-07-01 03:38:13
2022-07-01 04:08:24
3 year 0 is out of range: 0000-00-00 00:00:00
2022-07-01 03:25:29

In [37]:
#Con listas
list_fechas= list()
for i in range (0, 5):
    str_fecha = data[col][i]
    
    try:
        val_time=devuelve_fecha(str_fecha)
        list_fechas.append(val_time)
    except Exception as e:
        print(i,e)
        list_fechas.append(str_fecha)
        continue
    print(val_time)

0 name 'parse' is not defined
1 name 'parse' is not defined
2 name 'parse' is not defined
3 name 'parse' is not defined
4 name 'parse' is not defined

In [ ]:
#para todo el documento 
list_fechas= list()
n_filas = data.shape[0]
#n_filas = len(data[col])

for i in range (0, n_filas):
    str_fecha = data[col][i]
    
    try:
        val_time=devuelve_fecha(str_fecha)
        list_fechas.append(val_time)
    except Exception as e:
        print(i,e)
        list_fechas.append(str_fecha)
        continue
    print(val_time)

In [57]:
data['RECEPCION_CORREGIDA'] = list_fechas

In [60]:
data['RECEPCION_CORREGIDA'] = pd.to_datetime(data['RECEPCION_CORREGIDA'], errors = 'coerce')

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13055 entries, 0 to 13054
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13055 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13055 non-null  object
 2   CODIGO_LOCALIDAD                   13055 non-null  int64
 3   LOCALIDAD                          13055 non-null  object
 4   EDAD                               13055 non-null  object
 5   UNIDAD                             13047 non-null  object
 6   GENERO                             13055 non-null  object
 7   RED                                13055 non-null  object
 8   TIPO_INCIDENTE                     13055 non-null  object
 9   PRIORIDAD                          13055 non-null  object
 10  RECEPCION                          13055 non-null  object
 11  RECEPCION_CORREGIDA                5260 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 1.2+ MB

# Consistencia de los datos

In [64]:
data['EDAD'].value_counts(dropna=False)

SIN_DATO    6187
23           150
22           140
30           134
27           134
            ...
7             17
98            16
9             15
8             14
97            12
Name: EDAD, Length: 100, dtype: int64

In [33]:
#Reemplazar SIN_DATO por un nulo de tipo numerico
data['EDAD'].replace({'SIN_DATO' : np.nan}).value_counts

<bound method IndexOpsMixin.value_counts of 0         88
1         16
2         52
3        NaN
4         33
        ...
13050     18
13051    NaN
13052     11
13053     19
13054    NaN
Name: EDAD, Length: 13055, dtype: object>

Adaptar todo el codigo para hacer limpieza
recibe el archivo en el directorio raw y lo tiene que arrojar limpio en el process